[submodule "frontend"]
	path = frontend
	url = https://github.com/SENODROOM/AnnoymousThinker-Frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/SENODROOM/AnnoymousThinker-Backend.git
