[submodule "frontend"]
	path = frontend
	url = https://github.com/SENODROOM/AnnoymousThinker-Frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/SENODROOM/AnnoymousThinker-Backend.git
[submodule "guide"]
	path = guide
	url = https://github.com/SENODROOM/AI-and-LLM-Guide.git
[submodule "books"]
	path = books
	url = https://github.com/SENODROOM/Comparative-Religion-Books.git
